.background-image {
  /* The image used */
  background-image: url("./images/adi-boySki.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.ctr-text {
    position: absolute; 
    margin-left: 10%; 
    top: 20%; 
    width: 100%;
    color:#0e4142
}

