.background-image {
  /* The image used */
  background-image: url("./images/adi-boySki.jpg");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

.ctr-text {
    position: absolute;
    padding: 20px;
    background: #9ac7c2;
    max-width: 800px;
    margin-left: 10%; 
    border-radius: 10px;
    background-blend-mode: lighten;
    top: 20%; 
    width: 42%;
    color:#1d8385
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

